*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body{
    background-color: #7b58af;
    background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23faf7ff' fill-opacity='0.4'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    display: flex;
    flex-direction: row;
    font-size: 20px;
}

.aside{
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,45,45,0.4537464644060749) 100%);
    display: flex;     
    flex-direction: column;     
    flex-wrap: wrap;     
    justify-content: flex-start;     
    align-items: center;     
    height: 130vh;     
    width: fit-content;        
    float:left;     
    color: white;
    font-size: 17px;
}

.aside img{
    margin: 30px;
    flex-wrap: wrap;
    width: 250px;
    border-radius: 50%;
}

.aside i:hover{
    color: red;
}

.icon1{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    gap: 20px;
}

.icon1 i{
    font-size: 45px;
    padding: 10px;
}


/* .organization{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
} */

.conteudo{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 30px;
    color: white;
}

#informacoes{
    background: rgb(34,193,195);
background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,45,45,0.4537464644060749) 100%);
    padding: 100px;
    border-radius: 20px;
}

#informacoes ul li{
    list-style: none;
}  

#trajetoria{
    background: rgb(34,193,195);
background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,45,45,0.4537464644060749) 100%);
    padding: 100px;
    border-radius: 20px;
}

#networking{
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,45,45,0.4537464644060749) 100%);
    padding:100px;
    border-radius: 20px;
    
}

@media screen  and(max-width: 767px) {
    body {
        background-color: red;  
    }
    
}